### 1.a jupyter notebook --generate-config

### 1.b jupyter notebook --notebook-dir=C:\Subbu\Personal\Data Science\Code Practice\Assignments

### 2. Create the string, int and float variable and delete them all in the next cell

In [1]:
mystring = "hello"
print(mystring)
type(mystring)

hello

str

In [2]:
myint = 7
print(myint)
type(myint)

7

int

In [4]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)
type(myfloat)

7.0
7.0

float

In [5]:
del mystring
del myint
del myfloat
#print(mystring, myint, myfloat)

In [6]:
None = 10
#SyntaxError: cannot assign to None

SyntaxError: cannot assign to None (Temp/ipykernel_15552/276650060.py, line 1)

In [7]:
digit = (1 + 2 +3 + 
4 + 5 + 6 + 
7 + 8 + 9)

print(digit,
     digit*2)

45 90

In [34]:
step = 8
p = 999
for i in range(100, p, step):
        print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

In [8]:
n = 10
for x in range(1, n):
    if(x == n/2):
        break
    print(x)

1
2
3
4

In [9]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    return n**2

print(square.__doc__)

Takes in a number n, returns the square of n

In [48]:
import mypackage
from mypackage import functions
functions.SayHello("Chandan")
functions.area_of_triangle(15,51,17)

Hello  Chandan

### 9

In [51]:
def split_list_odd(numbers):
    odd_numbers = [number for number in numbers if number % 2 == 1]
    return odd_numbers

numbers = range(0,100)
print("The odd numbers are {}".format(split_list_odd(numbers)[0]))

The odd numbers are 1

In [54]:
def rem_vowel(string):
    vowels = ['a','e','i','o','u']
    result = [letter for letter in string if letter.lower() not in vowels]
    result = ''.join(result)
    print(result)
 
# Driver program
string = "Imran"
rem_vowel(string)

mrn