## 1 Create a program that asks the user to enter their name and their age. Print out a message that tells them the year that they will turn 100 years old

In [67]:
age = int(input("Enter age: "))
name = input("Enter name: ")

user_age = (100-age) + 2022
print ("The user will in year ", user_age ,"he/she will turn 100 years old.")

Enter age: 38
Enter name: Subrahmanyam T
The user will in year  2084 he/she will turn 100 years old.

## 2 What is pandas groupby? Demonstrate with your own example

By “group by” we are referring to a process involving one or more of the following steps:

Splitting the data into groups based on some criteria.

Applying a function to each group independently.

Combining the results into a data structure.

In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [17]:
grouped = df.groupby("class")
grouped = df.groupby("order", axis="columns")
grouped = df.groupby(["class", "order"])
grouped

In [18]:
grouped.sum()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora           138.2
       Primates              0.0

## 3 How to create a dataframe from list?

In [19]:
lst = ['fav', 'tutor', 'coding', 'skills']
df = pd.DataFrame(lst)
print(df)

        0
0     fav
1   tutor
2  coding
3  skills

## 4 What are the ways to combine the dataframe in pandas. Give an example for each

In [35]:
df1 = pd.DataFrame.from_dict({'Name': 'Subbu', 'Profession': 'Software', 'Experience': '5'}, orient='index')
df2 = pd.DataFrame.from_dict({'Name': 'Ramesh', 'Profession': 'Hardware', 'Experience': '6'}, orient='index')

In [32]:
# Stack the DataFrames on top of each other
df_concat1 = pd.concat([df1, df2], axis=0)
df_concat1

                   0
Name           Subbu
Profession  Software
Experience         5
Name          Ramesh
Profession  Hardware
Experience         6

In [33]:
# Place the DataFrames side by side
df_concat2 = pd.concat([df1, df2], axis=1)
df_concat2

                   0         0
Name           Subbu    Ramesh
Profession  Software  Hardware
Experience         5         6

In [39]:
df3 = pd.DataFrame.from_dict({'Name': 'Subbu', 'Profession': 'Software', 'Experience': '5'}, orient='index')
df4 = pd.DataFrame.from_dict({'Name': 'Subbu', 'Door No': '3-2-64----'}, orient='index')
merged_inner = pd.merge(left=df3, right=df4)

# What's the size of the output data?
merged_inner.shape
merged_inner

       0
0  Subbu

In [41]:
merged_inner = pd.merge(left=df3, right=df4, how='left')

# What's the size of the output data?
merged_inner.shape
merged_inner

          0
0     Subbu
1  Software
2         5

## 5 What is the difference between list and tuples in Python?

The key difference between the tuples and lists is that while the tuples are immutable objects the lists are mutable. This means that tuples cannot be changed while the lists can be modified.

In [42]:
import sys
a_list = list()
a_tuple = tuple()
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
print(sys.getsizeof(a_list))
print(sys.getsizeof(a_tuple))

120
80

In [43]:
a_list[0] = 9
a_list

[9, 2, 3, 4, 5]

In [44]:
a_tuple[0] = 9
a_tuple

TypeError: 'tuple' object does not support item assignment

## 6 Find out the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [52]:
from collections import Counter

n_num = np.array([1,5,3,100,4,48])
n=len(n_num)
get_sum =sum(n_num)
mean = get_sum/n
print("mean/avarage is: "+str(mean))

n=len(n_num)
n_num.sort()
if n% 2 ==0:
    median1 = n_num[n//2]
    median2 = n_num[n//2-1]
    median =(median1+median2)/2
else:
    median = n_num[n//2]
print("median is:" +str(median))

print("Mean of input array is % s "% (np.mean(n_num)))
print("Median of input array is % s "% (np.median(n_num)))
print("Standard Deviation of sample is % s "% (np.std(n_num)))

mean/avarage is: 26.833333333333332
median is:4.5
Mean of input array is 26.833333333333332
Median of input array is 4.5
Standard Deviation of sample is 36.59424666377065

## 7 How will you remove duplicate elements from a list?

In [57]:
# initializing list 
sam_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The list is: " + str(sam_list)) 

# to remove duplicated from list 
result = [] 
[result.append(x) for x in sam_list if x not in result] 

# printing list after removal 
print ("The list after removing duplicates: " + str(result)) 

#Another ways
print(list(dict.fromkeys(sam_list)))
print(sorted(set(sam_list)))

The list is: [11, 13, 15, 16, 13, 15, 16, 11]
The list after removing duplicates: [11, 13, 15, 16]
[11, 13, 15, 16]
[11, 13, 15, 16]

## 8 What is a map() function in Python? Give an example

The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns an iterator.

In [58]:
numbers = [2, 4, 6, 8, 10]

# returns square of a number
def square(number):
  return number * number

# apply square() function to each item of the numbers list
squared_numbers_iterator = map(square, numbers)

# converting to list
squared_numbers = list(squared_numbers_iterator)
print(squared_numbers)

[4, 16, 36, 64, 100]

## 9 What is pass in Python?

In Python, pass is a null statement. The interpreter does not ignore a pass statement, but nothing happens and the statement results into no operation.

The pass statement is useful when you don’t write the implementation of a function but you want to implement it in the future. So, to avoid compilation errors, you can use the pass statement.

In [60]:
# This functions prints the number if its not 2
def display(number):
  
  if number == 2:
    pass # Pass statement
  else:
    print ("Number: ", number)
    
display(2)
display(3)

Number:  3

## 10 What is vstack() in numpy? Give an example

numpy.vstack(tuple)

Stack arrays in sequence vertically (row wise).

This is equivalent to concatenation along the first axis after 1-D arrays of shape (N,) have been reshaped to (1,N). Rebuilds arrays divided by vsplit.

This function makes most sense for arrays with up to 3 dimensions. For instance, for pixel-data with a height (first axis), width (second axis), and r/g/b channels (third axis). The functions concatenate, stack and block provide more general stacking and concatenation operations.

In [65]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.vstack((a,b))

array([[1, 2, 3],
       [4, 5, 6]])

In [66]:
a = np.array([[1], [2], [3]])
b = np.array([[4], [5], [6]])
np.vstack((a,b))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])